@import '../Varibles.css';
.navbar__container{
    width: 100%;
    background-color: var(--black--color);
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    align-items: center;
}
.logo img{
    padding: 10px 40px;
    width: auto;
    height: 50px;
}
.list_nav{
    text-transform: uppercase;
    display: flex;  
    justify-self: right;
}
.list_nav li{
    margin:0 15px;
}

.list_nav li{
    list-style: none;
    color: var(--white);
}
.links{
    margin:0 20px ;
    color: var(--white);
    display: flex;
    justify-self: right;
    text-transform: uppercase;
}
.links div{
    padding: 0 20px;
}
.second__links{
    color: var(--yellow-color);
}
.first__links{
    padding: 0;
    border-left: 1px solid var(--yellow-color);
}