:root{
    --yellow-color:#dbb95a;
    --yellow-opacity:#dbb95ace;
    --black--color:#000;
    --black--opacity:rgba(0, 0, 0, 0.507);
    --gray--opacity:rgba(128, 128, 128, 0.863);
    --white--color:#f8f9fa;
    --white:#fff;

}